/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

button {
  @apply focus:outline-none;
}

.border-color {
  @apply border-gray-100;
}

.text-gray {
  @apply text-gray-500;
}
